.modalPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .modalFundo {
    background-color: #3EEE9A; 
    padding: 40px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 800px; 
  }
  
  .inputs {
    margin-bottom: 20px; 
  }
  
  .inputs input {
    width: 100%; 
    padding: 10px; 
    border-radius: 25px; 
    color: black; 
  }
  
  .inputGrandao {
    background-color: #A4FED3; 
    height: 300px; 
    width: 100%; 
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    resize: none; 
    color: black; 
  }
  
  .botoes {
    display: flex;
    justify-content: space-between; 
    margin-top: 10px; 
  }
  
  .botao {
    padding: 10px 20px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .cancelar {
    background-color: #3EEE9A; 
    color: #000;    
  }
  
  .avaliar {
    background-color: #A4FED3;
    color: #2B895C;}
  